body {
    margin: 0;
    padding: 0;

    background-color: #fff;

    font-family: 'Poppins', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;

    color: #FC3C4F;
    font-size: 45px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: -1.2px;
}

h2 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 26px;
    color: #484848;
}

h3 {
    margin: 0;

    font-size: 17px;
    font-weight: 600;
    color: #484848;
}

section {
    padding-bottom: 65px;
}

.wrapper {
    width: 1030px;
    margin: 0 auto;
}

.wrapper-top {
    display: flex;
    justify-content: space-between;
}

.item-flex-row {
    display: flex;
}

.list-flex-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.photo-description {
    font-size: 11px;
    line-height: 19px;
    font-weight: 600;
    text-transform: uppercase;
    color: #002B37;
}

a:hover .photo-description {
    color: #00A799;
    transition-duration: 0.3s;
}

section a:hover img {
    box-shadow: 3px 7px 10px 0 #DBDBDB;
    transition-duration: 0.3s;
}

.item-title {
    line-height: 22px;
    letter-spacing: 0.17px;
}

figure {
    margin: 0;
    margin-bottom: 5px;
}

.price {
    margin-top: 3px;
    margin-bottom: 0;

    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.14px;
}

.ratings-counter {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 67px;

    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.1px;

    background: no-repeat url("img/Ratings.png") left 2px;
}

.to-see-all {
    position: relative;

    padding-right: 12px;
    margin-top: 7px;

    color: #484848;
    letter-spacing: -0.5px;
}

.to-see-all::after {
    position: absolute;
    top: 7px;
    right: 0;

    width: 7px;
    height: 12px;
    
    content: "";
    background: no-repeat url("img/arrow_right.png");
    background-size: cover;
}

span {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.08px;

    padding-left: 7px;
    vertical-align: top;
}
 


.page-header {
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 114px;
}

.header-wrapper {
    width: 1440px;
    margin: 0 auto;
}

.page-header .main-nav {
    padding-top: 4px;
}

.page-header .main-nav ul {
    display: flex;
    justify-content: space-between;

    width: 327px;
}

.page-header .main-nav a {
    color: #474747;
    font-size: 14px;
    line-height: 14px;
}


.hero {
    padding-bottom: 102px;
}

.hero .hero-tagline .hero-text {
    color: #383838;
    font-size: 43px;
    font-weight: 500;
    line-height: 56px;

    margin-top: -14px;
    margin-bottom: 0;
    padding-bottom: 28px;
}

.hero .search-bar {
    position: relative;
}

.hero .search-bar input {
    width: 100%;
    height: 72px;
    box-sizing: border-box;

    padding: 25px 119px 22px 63px;

    background: no-repeat url("img/icon_search.png");
    background-position: 18px 22px;;
    background-size: 2.3%;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px #DBDBDB;

    color: #767676;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    line-height: 30px;
}

.hero .search-bar .btn-search {
    position: absolute;
    top: 12px;
    right: 12px;

    width: 95px;
    height: 48px;

    padding: 11.5px 13.5px;

    box-sizing: border-box;

    background-color: #FF5661;
    border-radius: 5px;

    color: #fff;
    font-size: 19px;
    line-height: 25px;
}

.categories h2 {
    line-height: 43px;
}

.categories .categories-list {
    justify-content: flex-start;
}

.categories .categories-list .categories-item {
    margin-right: 18px;

    border: 1px solid #DBDBDB;
    border-radius: 4px;
}

.categories .categories-list .categories-item a {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 244px;
    height: 70px;
    box-sizing: border-box;
}

.categories .categories-list .categories-item img {
    width: 96px;
    height: 70px;
}

.categories .categories-list .categories-item h3 {
    padding-left: 16px;
    padding-top: 5px;

    line-height: 29px;
}

.experiences {
    padding-bottom: 59px;
}

.experiences .experiences-list .experiences-item {
    width: 243px;
}

.experiences .experiences-item img {
    width: 100%;
    height: 164px;

    border-radius: 5px;
}

.homes {
    padding-bottom: 62px;
}

.featured-destinations .featured-destinations-list .featured-destinations-item h3 {
    font-size: 15px;
}

.featured-destinations .featured-destinations-list .featured-destinations-item img {
    margin-bottom: 5px;
}

.experiences-in-NY {
    padding-bottom: 93px;
}

.experiences-in-NY .experiences-in-NY-list .experiences-in-NY-item {
    width: 243px;
}

.experiences-in-NY .experiences-in-NY-item img {
    width: 100%;
    height: 164px;

    border-radius: 5px;
}

.experiences-in-NY .experiences-in-NY-item .photo-description:nth-child(1) {
    color: #F08237;
}

.experiences-in-NY .experiences-in-NY-item .photo-description:nth-child(2) {
    color: #8F5131;
}

.experiences-in-NY .experiences-in-NY-item .photo-description:nth-child(3) {
    color: #7B3C11;
}

.experiences-in-NY .experiences-in-NY-item .photo-description:nth-child(4) {
    color: #E4822C;
}

.page-footer {
    border-top: 1px solid #DBDBDB;

    padding-top: 48px;
    padding-bottom: 21px;
}

.page-footer .page-footer-top {
    justify-content: flex-start;
}

.page-footer .page-footer-top form {
    margin-right: 103px;
}

.page-footer .form-group select {
    width: 244px;
    height: 46px;

    appearance: none;

    margin-bottom: 8px;
    padding-left: 7px;
    padding-right: 10px;

    background: no-repeat url("img/arrow_down.png");
    background-position: 210px center;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    border-radius: 2px;

    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 24px;
    color: #484848;
}

.page-footer ul {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: #484848;
}

.page-footer .page-footer-top ul h3 {
    margin-bottom: 16px;
}

.page-footer .page-footer-top .airbnb-company {
    margin-right: 105px;
}

.page-footer .page-footer-top .discover-list {
    margin-right: 148px;
}

.page-footer .page-footer-top li:not(:last-child) {
    margin-bottom: 5px;
}

.page-footer ul a {
    font-weight: 400;
    color: #767676;
}

.page-footer .page-footer-top {
    padding-bottom: 46px;

    border-bottom: 1px solid #DBDBDB;
}

.page-footer .footer-bottom {
    padding-top: 23px;
}

.page-footer .footer-bottom .footer-copyrights {
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
    color: #767676;
    vertical-align: middle;

    margin-left: 5px;
}

.page-footer .footer-bottom .footer-links {
    margin-right: 17px;

    width: 200px;
}

.page-footer .footer-bottom .footer-links a {
    vertical-align: middle;
}

.page-footer .footer-information .footer-links li:not(:last-child) {
    margin-right: 16px;
}

.page-footer .footer-bottom .footer-information {
    padding-top: 3px;   
}

.page-footer .footer-bottom .footer-social {
    width: 74px;
}